/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles pour la barre latérale */
.barre-laterale {
    width: 200px;
    background-color: #333;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    overflow-y: auto;
}

.titre-z {
    color: #fcc604;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles pour les boutons dans la barre latérale */
.bouton-laterale {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bouton-laterale:hover {
    background-color: #e8bb08;
}

/* Styles pour le contenu principal */
.main-content {
    margin-left: 220px;
    padding: 20px;
}

#roubles {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #000;
}

.bouton {
    
    display: flex;
    text-transform: uppercase;
    color: #eeeeee;
    font-size: 15px;/*taille global*/
    background-color: #41c200;
    padding: 15px 50px;/*taille*/
    margin: 0 auto;
    border-radius: 50px; /* Coins arrondis */
}

.bouton:hover {
    background-color: #d32f2f;
}